.App {
    text-align: center
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white
}

.App-title {
    font-size: 1.5em
}

.App-intro {
    font-size: large
}

body {
    margin: 5%
}

table, th, td {
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    width: 900px
}

    table tr:nth-child(even) {
        background-color: #eee
    }

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
    left: 10px
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white
}

input {
    height: 10px;
    padding: 15px 32px;
    display: inline-block;
    font-size: 15px;
}

a.link {
    color: black;
    background-color: transparent;
    font-size: 26px

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
