<!DOCTYPE html>
<html lang="en">
<head>
    <title>Finance Manager</title>
    <link href="@Url.Content("~/css/App.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody() 
</body>
</html>