@model IEnumerable<fmanagerFull.Models.Transaction>
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <link href="@Url.Content("~/css/App.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.React("App", new
    {
        initialData = Model,
        url = "/transactions/Get",
        postUrl = "/transactions/Create", 
        pollInterval = 2000,
    })
    <script crossorigin src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <script src="@Url.Content("~/js/transactions.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>
